.viewport {
  height: 75vh;
  width: 90%;

}

.input-field {
  width: 25%;
}

@media screen and (max-width: 400px) {
  table{
    font-size: calc(100vw*0.02);
  }

  .search {
    font-size: calc(100vw*0.03);
  }
}



